<%- include('../layouts/header') %>
<div class="card">
    <div class="card-body col-lg-12">
      <h5 class="card-title">Edit Currency</h5>
      <%if(locals.errorMessage) { %>
      <div class="alert alert-success" role="alert">
        <%=errorMessage%>
      </div>
      <% } %>
      <!-- Vertical Form -->
      <form action="/currency/<%=currency._id%>" method="POST" class="row g-3 needs-validation">
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <div class="row col-lg-6">
  
          <div class="col-12 mg-3">
            <label for="name" class="form-label">Currency Name</label>
            <input type="text" class="form-control" id="name" name="name" required value="<%=currency.name%>">
            <div class="invalid-feedback">Please provide a Currency Name.</div>
          </div>  

          <div class="col-12 mg-3">
            <label for="name" class="form-label">Fallback Currency</label>
            <input type="text" class="form-control" id="fallbackcurrency" name="fallbackcurrency" required value="<%=currency.fallbackcurrency%>">
            <div class="invalid-feedback">Please provide a Fallback Currency.</div>
          </div>

          <div class="col-12 mg-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-control" id="status" name="active" required>
              <% if(currency.status) { %>
              <option value=true selected>Active</option>
              <option value=false>Inactive</option>
              <%}else{%>
              <option value=true>Active</option>
              <option value=false selected>Inactive</option>
              <% } %>
            </select>
          </div>

          <div class="text-center mg-3 col-12">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/currency/viewAll" class="btn orange btn-secondary">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>

<%- include('../layouts/footer') %>