<%- include('../layouts/header') %>
<% if(countryList) { %>
<div class="card">
  <div class="card-body col-lg-12">
    <h5 class="card-title">Add Region</h5>
    <%if(locals.errorMessage) { %>
    <div class="alert alert-success" role="alert">
      <%=errorMessage%>
    </div>
    <% } %>
    <!-- Vertical Form -->
    <form action="/region/add" method="POST" class="row g-3 needs-validation">
      <input type="hidden" name="_csrf" value="<%=csrfToken %>">
      <div class="row col-lg-6">
        <div class="col-12">
          <label for="Code" class="form-label">Code</label>
          <input type="text" class="form-control" id="code" name="code" required>
          <div class="invalid-feedback">Please provide a Code.</div>
        </div>

        <div class="col-12 mg-3">
          <label for="Type" class="form-label">Name</label>
          <input type="text" class="form-control" id="type" name="type" required>
          <div class="invalid-feedback">Please provide a Name.</div>
        </div>        
        <div class="col-12 mg-3">
          <label for="Country" class="form-label">Country</label>
          <select class="form-control" id="country" name="country">
            <% countryList.forEach(countryList=> { %>
            <option value="<%=countryList.isocode %>"> <%=countryList.name %></option>
            <% }) %>
          </select>
        </div>

        <div class="col-12 mg-3">
          <label for="status" class="form-label">Status</label>
          <select class="form-control" id="status" name="status" required>
            <option value=true selected>active</option>
            <option value=false>inactive</option>
          </select>
        </div>
        <div class="text-center mg-3 col-12">
          <button type="submit" class="btn btn-primary">Save</button>
          <a href="/region/viewAll" class="btn orange btn-secondary">Cancel</a>
        </div>
      </div>
    </form>
  </div>
</div>
<%} else{ %>
    <p>You have not created any Region</p>
<% } %>
<%- include('../layouts/footer') %>

<!-- 


<h3>Add Region</h3>
{{#if countryList}}
<div class="row">
    <form action="/region/add" method="POST" class="col s12">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="row">
            <div class="input-field">
                <input type="text" id="isocode" name="isocode" value={{isocode}}>
                <label for="title">Code</label>
            </div>
        </div>
         <div class="row">
            <div class="input-field">
                <input type="text" id="name" name="name" value={{name}}>
                <label for="title">Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                 <select id="status" name="country">
                     {{#select 'US'}}
                        {{#each countryList}}
                            <option value="{{this.isocode}}"> {{this.name}} </option>
                        {{/each}}
                     {{/select}}
                 </select>
                <label for="Country">Country</label>
            </div>
        </div>
        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>
{{else}}
<p>You should create country First</p>
{{/if}} -->