<%- include('../layouts/header') %>
<div class="card">
  <div class="card-body col-lg-12">
    <h5 class="card-title">Edit User Group</h5>
    <%if(locals.errorMessage) { %>
    <div class="alert alert-success" role="alert">
      <%=errorMessage%>
    </div>
    <% } %>
    <!-- Vertical Form -->
    <form action="/usergroup/<%=usergroup._id%>" method="POST" id="editusergroupform" class="row g-3 needs-validation">
      <input type="hidden" name="_csrf" value="<%=csrfToken %>">
      <input type="hidden" name="modulenameedit" value=""  id="modulenameedit">
      <input type="hidden" name="id" value="<%=usergroup.id %>">
      <input type="hidden" name="code" value="<%=usergroup.code %>">

      <div class="row col-lg-6">
        
        <div class="col-12 mg-3">
          <label for="inputEmail4" class="form-label">Name</label>
          <input type="text" id="name" name="name" class="form-control" value="<%=usergroup.name%>" required>
          <div class="invalid-feedback">Please provide a Name.</div>
        </div>
      
      <div class="col-12 mg-3">
        <label for="inputEmail4" class="form-label">Base Site</label>
        <select class="form-control" id="BaseSite" name="BaseSite" required>
            <%if (basesiteList) { %> 
                <option value="" selected>---Select--</option>
                <% basesiteList.forEach(basesiteListIrr=> { %>
                    <%if(String(basesiteListIrr._id)==usergroup.baseSiteId) { %>
                    <option value="<%=basesiteListIrr._id%>" selected><%=basesiteListIrr.name%></option>
                    <%}else{%>
                        <option value="<%=basesiteListIrr._id%>"><%=basesiteListIrr.name%></option>
                    <%}%>
                <% }) %>
             <%}%>
            
        </select>
      </div>
    </div>
      <%if (activeModuleList) { %>
      <% activeModuleList.forEach(navigationListIrr=> { %>
      <div class="col-12 mg-3">
        <div class="row mg-3">
          <div class="col-2">
            <label class="form-label" for="defaultCheck1"><strong><%=navigationListIrr.name%></strong></label>
          </div>
          <%if (fieldtypes) { %>
          <% Object.keys(fieldtypes).forEach(function(key) {%>
          <% var scale_text =  '{'+navigationListIrr.code+':'+ key+'}'; %>
                        <% if((usergroup.accessmoules) && usergroup.accessmoules.includes(scale_text)){ %>
                          <div class="col-md-1">
                            <input class="form-check-input checkedvalue" type="checkbox" name="<%=navigationListIrr.code%>" value=<%= scale_text %> checked>
                            <label class="form-check-label" for="defaultCheck1"><%= fieldtypes[key] %></label>
                        </div>
                          <% } else{ %>
            <div class="col-md-1">
                <input class="form-check-input checkedvalue" type="checkbox" name="<%=navigationListIrr.code%>" value=<%= scale_text %>>
                <label class="form-check-label" for="defaultCheck1"><%= fieldtypes[key] %></label>
            </div>
            <% } %>

         <% }); %>
         <%}%>
        </div>
      </div>
      <% }) %>
      <% } %>
    <div class="row col-lg-6">
        <div class="col-12 mg-3">
            <label for="exampleFormControlSelect2" class="form-label">Status</label>
            <select class="form-control" id="Status" name="Status" required>
    
                <%if(usergroup.Status) { %>
                    <option value=true selected>Active</option>
                    <option value=false>Inactive</option>
                    <%}else{%>
                        <option value=true>Active</option>
                        <option value=false selected>Inactive</option>
                        <%}%>
            </select>
        </div>
    </div>
    <div class="row col-lg-12">
        <div class="text-center mg-3 col-6 mg-3">
            <input type="button" class="btn btn-primary" id="editUserGroup" name="editUserGroup" value="Save">
            <!-- <input type="submit" value="Save" class="btn"> -->
            <a href="/usergroup/viewAll" class="btn orange btn-secondary">Cancel</a>
        </div>
    </div>
    </form>
    <!-- Vertical Form -->
  </div>
</div>
<%- include('../layouts/footer') %>

