<%- include('../layouts/header') %>
<div class="card">
  <div class="card-body col-lg-12">
    <h5 class="card-title">Add User Group</h5>
    <%if(locals.errorMessage) { %>
    <div class="alert alert-success" role="alert">
      <%=errorMessage%>
    </div>
    <% } %>
    <!-- Vertical Form -->
    <form action="/usergroup/<%=usergroup._id%>" method="POST" class="row g-3 needs-validation">
      <input type="hidden" name="_csrf" value="<%=csrfToken %>">
      <input type="hidden" name="modulename" value="" id="modulelistarray">
      <input type="hidden" name="code" value="<%=usergroup.code %>">
      <div class="row col-lg-6">
        
        <div class="col-12 mg-3">
          <label for="inputEmail4" class="form-label">Name</label>
          <input type="text" id="name" name="name" class="form-control" value="<%=usergroup.name%>" required>
          <div class="invalid-feedback">Please provide a Name.</div>
        </div>
      
      <div class="col-12 mg-3">
        <label for="inputEmail4" class="form-label">Base Site</label>
        <select class="form-control" id="BaseSite" name="BaseSite" required>
            <%if (basesiteList) { %> 
                <option value="" selected>---Select--</option>
                <% basesiteList.forEach(basesiteListIrr=> { %>
                    <%if(String(basesiteListIrr._id)==usergroup.baseSiteId) { %>
                    <option value="<%=basesiteListIrr._id%>" selected><%=basesiteListIrr.name%></option>
                    <%}else{%>
                        <option value="<%=basesiteListIrr._id%>"><%=basesiteListIrr.name%></option>
                    <%}%>
                <% }) %>
             <%}%>
            
        </select>
      </div>
    </div>
    <% usergroup.accessmoules.forEach(accessmoulesList => { %>
      <%-accessmoulesList%><br>

      <% }) %>


      <%if (activeModuleList) { %>
      <% activeModuleList.forEach(navigationListIrr=> { %>

      <div class="col-12 mg-3">
        <div class="row mg-3">
          <div class="col-2">
            <label class="form-label" for="defaultCheck1"><strong><%=navigationListIrr.name%></strong></label>
          </div>
          
          <% Object.keys(fieldtypes).forEach(function(key) {%>

                        <% var scale_text %>
<% scale_text =  '{'+navigationListIrr.code+':'+ key+'}'; %>


                        <% if(usergroup.accessmoules.includes(scale_text)){ %>
                          <div class="col-md-1">
                            <input class="form-check-input" type="checkbox" name="<%=navigationListIrr.code%>" value="<%= key %>" checked>
                            <label class="form-check-label" for="defaultCheck1"><%= fieldtypes[key] %></label>
                        </div>

                          <% } else{ %>
            <div class="col-md-1">
                <input class="form-check-input" type="checkbox" name="<%=navigationListIrr.code%>" value="<%= key %>">
                <label class="form-check-label" for="defaultCheck1"><%= fieldtypes[key] %></label>
            </div>
            <% } %>

         <% }); %>
       
        </div>
      </div>
      <% }) %>
      <% } %>
      <div class="text-center mg-3 col-6 mg-3">
        <button type="submit" class="btn btn-primary">Save</button>
        <!-- <input type="submit" value="Save" class="btn"> -->
        <a href="/usergroup/viewAll" class="btn orange btn-secondary">Cancel</a>
      </div>
    </form>
    <!-- Vertical Form -->
  </div>
</div>
<%- include('../layouts/footer') %>

