<%- include('../layouts/header') %>
<%if (usergroupList) { %>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title float-right">

                <a href="/usergroup/add" class="btn-floating btn btn-primary btn-sm">
                    <i class="fas fa-plus"></i> Add new usergroup
                </a>
                <a href="/usergroup/user/add" class="btn-floating btn btn-sm btn-outline-primary">
                    <i class="fas fa-plus"></i> Add user in group
                </a>
               
            </h5>
            <%if(locals.errorMessage) { %>
                    <div class="alert alert-success" role="alert">
                        <%=errorMessage%>
                        </div>
                <% } %> 
            <table class="table table-hover" id="example">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <% usergroupList.forEach(usergroupList => { %> 
                        <tr>
                            <td><span class="dash-status"></span><%=usergroupList.code%><span></td>
                            <td><span class="dash-status"></span><%=usergroupList.name%></span></td>
                            <td>

                                <div class="bo-edit-row">
                                    <a href="/usergroup/<%=usergroupList.code %>" class="btn btn-float">
                                        <i class="fas fa-edit"></i>
                                    </a>
            
                                    <form action="/usergroup/remove/<%=usergroupList._id %>" method="POST" id="delete-form">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                                        <button type="submit" class="btn red">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                               
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <%} else{ %>
            <p>Not found</p>
            <% } %>
    </div>
    </div>
    <%- include('../layouts/footer') %>

 