<%- include('../layouts/header') %>
<%if (usergroupList) { %>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <% usergroupList.forEach(usergroupList => { %> 
            <tr>
                <td><a href="/usergroup/<%=usergroupList.code %> "><%=usergroupList.code %> </a></td>
                <td><a href="/usergroup/<%=usergroupList.code %>"><%=usergroupList.name %></a></td>
                <td>
                    <div class="bo-edit-row">
                        <a href="/usergroup/<%=usergroupList.code %>" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/usergroup/remove/<%=usergroupList._id %>" method="POST" id="delete-form">
                            <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            <% }) %>        
        </tbody>
    </table>
</div>
<%} else{ %>
<p>You have not created any usergroup</p>
<% } %>

<div class="fixed-action-btn">
    <a href="/usergroup/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus" title="Add New UserGroup"></i></a>
    <a href="/usergroup/user/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-network-wired" title="Associate Group with User"></i></a>
</div>
<%- include('../layouts/footer') %>

