<%- include('../layouts/header') %>

 
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td><h3>Sync Data</h3></td>
            </tr>
            <%if(locals.msg) { %>
                <tr><td>
                    <div class="alert alert-success" role="alert">
                        <%=msg%></td>
        </div></tr>
                <% } %> 
        </thead>
        <tbody>
           
            <tr>
                <td><b>Setup Essential Data</b></br>(language, currency, country, region, usergroup, zone, basesite, deliverymode, oauth, brand
                )<br/><br/>
                <form action="/ajax/uploadFile?_csrf=<%=csrfToken%>" method="POST" id="fileUpload" enctype="multipart/form-data" >
                    <span><strong>Upload essential data:</strong></span>  
                    <input type="file" name="essentialData">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <input type="submit" value="upload" class="fa fa-upload btn btn-primary" > 
                </form>
            </td>

                <td><a href="/data/essentialdata/download"><i class="fa fa-download btn btn-primary" aria-hidden="true"></i>
                </a></td>
                
                <td>
                    <form action="/data/essentialdata/synch" method="post" id="syncEssentialDataForm">
                   <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                   <input type="submit" class="btn btn-primary" name="syncEssentialData" id="syncEssentialData" value="Sync">
                   </form>
                </td>
            </tr>
            <tr>
                <td><b>Setup Sample Data</b></br>(catalogData, categoryData, categoryToCategoryRelData, productData, categoryProductRelData, productStockData,  productPriceData, numberSeriesData, productMediaData
                )</td>
                <td>&nbsp;</td>
                <td>
                    <form action="/data/sampledata/synch" method="post" id="syncSampleDataForm">
                   <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                   <input type="submit" class="btn btn-primary" name="syncSampleData" id="syncSampleData" value="Sync">
                   </form>
                </td>
            </tr>
            <tr>
                <td><b>Setup Cms Data</b></br>(CMS)</td>
                <td>&nbsp;</td>

                <td>
                    <form action="/data/cms/synch" method="post" id="syncCmsDataForm">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                   <input type="submit" class="btn btn-primary" name="syncCmsData" id="syncCmsData" value="Sync">
                   </form>
                </td>
            </tr>
            <tr>
                <td><b>Setup Media Data</b></br>(Media)</td>
                <td>&nbsp;</td>

                <td>
                    <form action="/data/mediadata/synch" method="post" id="synMediaDataForm">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                   <input type="submit" class="btn btn-primary" name="syncMediaData" id="syncMediaData" value="Sync">
                   </form>
                </td>
            </tr>
            <tr>
                <td><b>Setup B2B Sample Data</b></br>(Media)</td>
                <td>&nbsp;</td>

                <td>
                    <form action="/data/b2b/sampledata/synch" method="post" id="synB2BDataForm">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                   <input type="submit" class="btn btn-primary" name="syncb2bData" id="syncb2bData" value="Sync">
                   </form>
                </td>
            </tr>

            <tr>
                <td><b>Sync left navigation</b></br></td>
                <td>&nbsp;</td>

                <td>
                    <form action="/data/leftNavigation/synch" method="post" id="leftNavigation">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                   <input type="submit" class="btn btn-primary" name="syncleftNavigation" id="syncleftNavigation" value="Sync">
                   </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<%- include('../layouts/footer') %>

