<%- include('../layouts/header') %>
<% if(catalogs) { %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title float-right">
      <a href="/catalogs/add" class="btn-floating btn btn-primary btn-sm">
        <i class="fas fa-plus"></i> Add new Catalog
      </a>
    </h5>
    <table class="table table-hover" id="example">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Created At</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% catalogs.forEach(catalogs=> { %>
        <tr>
          <td><a href="/catalogs/<%=catalogs.code%>"><%=catalogs.code%></a></td>
          <td><a href="/catalogs/<%=catalogs.code%>"><%=catalogs.name%></a></td>
          <td><%=moment(catalogs.creationdate).format('Do MMMM, YYYY');%></td>
          <td><span class="dash-status"><%=catalogs.status%></span></td>
          <td>
            <div class="bo-edit-row">
              <a href="/catalogs/<%=catalogs.code%>" class="btn btn-float">
                <i class="fas fa-edit"></i>
              </a>

              <form action="/catalogs/remove/<%=catalogs._id%>" method="POST" id="delete-form">
                <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn red">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <%} else{ %>
  <p>You have not created any Catalog</p>
  <% } %>
</div>
<%- include('../layouts/footer') %>