<%- include('../layouts/header') %>
<%if (response.result) { %>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title float-right">

                <a href="/products/add" class="btn-floating btn btn-primary btn-sm">
                    <i class="fas fa-plus"></i> Add new product
                </a>
                <!--<a href="/usergroup/user/add" class="btn-floating btn btn-sm btn-outline-primary">
                    <i class="fas fa-plus"></i> Add user in group
                </a>-->
               
            </h5>
            <%if(locals.errorMessage) { %>
                    <div class="alert alert-success" role="alert">
                        <%=errorMessage%>
                        </div>
                <% } %> 
            <table class="table table-hover" id="example">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Catalog</th>
                        <th scope="col">Price</th>
                        <th scope="col">In Stock</th>
                        <th scope="col">Status</th>

                        <th scope="col" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>
                   
                    <% response.result.forEach(productList => { %> 
                        <tr>
                            <td><span class="dash-status"></span><%=productList.code%><span></td>
                                <% if(productList.medias){ %> 
                                    <td><span class="dash-status"></span><img src="<%=productList.medias.thumbnail.replace('http://localhost:5000','')%>" alt="<%=productList.title%>" width="30" height="30">                                    <span></td>

                                    <%} else{%> 
                                        <td>&nbsp;</td>
                                        <%}%> 
                                    <td><span class="dash-status"></span><%=productList.title%></span></td>
                                    <td><span class="dash-status"></span><%=productList.catalog.code%></span></td>
                            <% if(productList.price){ %> 
                                    <td><span class="dash-status"></span><%=productList.price.currencyIsoCode%> <%=productList.price.priceValue%></span></td>
                                <%} else{%> 
                                    <td>&nbsp;</td>
                                    <%}%> 
                                    <% if(productList.stock){ %> 
                                        <td><span class="dash-status"></span><%=productList.stock.availableQty%></span></td>
                                    <%} else{%> 
                                        <td>&nbsp;</td>
                                        <%}%> 
                            <td><span class="dash-status"></span><%=productList.status%></span></td>

                            <td>
                                <div class="bo-edit-row">
                                    <a href="/products/<%=productList._id%>" class="btn btn-float">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <form action="/products/remove/<%=productList._id %>" method="post" id="delete-form">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                                        <button type="submit"  class="btn red" onclick="javascript:confirmation()">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                               
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <%} else{ %>
            <p>Not found</p>
            <% } %>
    </div>
    </div>
    <%- include('../layouts/footer') %>

 