<%- include('../layouts/header') %>
<% if(languageList) { %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title float-right">
      <a href="/language/add" class="btn-floating btn btn-primary btn-sm">
        <i class="fas fa-plus"></i> Add new Language
      </a>
    </h5>
    <table class="table table-hover" id="example">
      <thead>
        <tr>
            <th>IsoCode</th>
            <th>Name</th>
            <th>Fallback Language</th>
            <th>Status</th>
            <th class="text-right">Action</th>
        </tr>
      </thead>
      <tbody>
        <% languageList.forEach(languageList=> { %>
        <tr>
          <td><%=languageList.isocode%></td>
          <td><%=languageList.name%></td>
          <td><%=languageList.fallbacklanguage%></td>             
          <td><span class="dash-status">
              <% if(languageList.status) { %>
              Active
              <% }else{ %>
              Inactive
              <% } %>
            </span></td>
          <td>
            <div class="bo-edit-row">
              <a href="/language/<%=languageList.isocode%>" class="btn btn-float">
                <i class="fas fa-edit"></i>
              </a>
              <form action="/language/remove/<%=languageList._id%>" method="post" id="delete-form<%=languageList._id%>">
                <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                <button type="submit" class="btn red">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <%} else{ %>
  <p>You have not created any Language</p>
  <% } %>
</div>
<%- include('../layouts/footer') %>