<%- include('../layouts/header') %>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs justify-content-left" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#Order" role="tab">
                        <i class="now-ui-icons objects_umbrella-13"></i> Order Details
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#OrderEntry" role="tab">
                        <i class="now-ui-icons shopping_cart-simple"></i> Order entry
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#price" role="tab">
                        <i class="now-ui-icons shopping_cart-simple"></i> Price
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#ShippingDetail" role="tab">
                        <i class="now-ui-icons shopping_shop"></i> Shipping Detail
                    </a>
                </li>
            </ul>
        </div>
        <div class="card-body col-lg-12">
            <!-- Tab panes -->
                <div class="tab-content text-left">

                    <div class="tab-pane active" id="Order" role="tabpanel">
                        <h5 class="card-title">Order Details</h5>
                        <div class="col-lg-12 row g-3">
                            <div class="col-md-6 mg-3">
                                <label for="inputNanme4" class="form-label"><strong>Order No.</strong></label>
                                <label for="inputNanme4" class="form-label"><%=order.id%></label>
                            </div>
                            <div class="col-md-6 mg-3">
                                <label for="inputNanme4" class="form-label"><strong>Purchase Order Number</strong></label>
                                <label for="inputNanme4" class="form-label"><%=order.purchaseOrderNumber%></label>
                            </div>
                            <div class="col-md-6 mg-3">
                                <label for="inputNanme4" class="form-label"><strong>Oms Order Id</strong></label>
                                <label for="inputNanme4" class="form-label"><%=order.omsOrderId%></label>
                            </div>
                            <div class="col-md-6 mg-3">
                                <label for="inputNanme4" class="form-label"><strong>Oms Shipment Id</strong></label>
                                <label for="inputNanme4" class="form-label"><%=order.omsShipmentId%></label>
                            </div>
                            <div class="col-md-6 mg-3">
                                <label for="inputNanme4" class="form-label"><strong>Order date</strong></label>
                                <label for="inputNanme4" class="form-label"><%=order.creationdate%></label>
                            </div>
                            <div class="col-md-6 mg-3">
                                <label for="inputNanme4" class="form-label"><strong>Delivery Mode</strong></label>
                                <label for="inputNanme4" class="form-label"><%=order.deliveryMode%></label>
                            </div>
                            <div class="col-md-6 mg-3">
                                <label for="inputNanme4" class="form-label"><strong>Payment Transaction</strong></label>
                                <label for="inputNanme4" class="form-label"><%=order.paymentTransaction%></label>
                            </div>
                            <div class="col-md-6 mg-3">
                                <label for="inputNanme4" class="form-label"><strong>Currency</strong></label>
                                <label for="inputNanme4" class="form-label"><%=order.currency.name%></label>
                            </div>
                            <div class="col-md-6 mg-3">
                                <label for="inputNanme4" class="form-label"><strong>Total Price</strong></label>
                                <label for="inputNanme4" class="form-label"><%=order.currency.symbol%> <%=order.totalPrice%></label>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="OrderEntry" role="tabpanel">
                        <h5 class="card-title">Order entry</h5>

                        <table class="table table-hover" id="example_">
                            <thead>
                                <tr>
                                    <th scope="col">Product Id</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Price</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                               
                                <% var totalPrice=0.0; var totalqt=0; 
                                
                                order.orderEntries.forEach(ordersIrr => { 
                                    totalPrice=Number(totalPrice) + Number(ordersIrr.totalPrice); 
                                    totalqt=totalqt+ordersIrr.quantity;
                                    %> 
                                    <tr>
                                        <td>    <span class="dash-status"></span><%=ordersIrr.productCode%><span></td>
                                                <td><span class="dash-status"></span><%=ordersIrr.quantity%></span></td>
                                                <td><span class="dash-status"></span><%=order.currency.symbol%> <%=ordersIrr.totalPrice%></span></td>
                                                
                                            </tr>
                                    <% }) %>

                                    <tr><td></td> <td><strong><%=totalqt%></strong></td><td ><strong><%=order.currency.symbol%> <%=totalPrice.toFixed(8)%></strong></td></tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="price" role="tabpanel">
                        <h5 class="card-title">Price</h5>
                    </div>
                    <div class="tab-pane" id="ShippingDetail" role="tabpanel">
                        <h5 class="card-title">Shipping Detail</h5>
                    </div>
                    <!-- Category started here -->
                </div>
        </div>
    </div>
<%- include('../layouts/footer') %>