{{#if vendors}}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Status</th>
                <th>{{csrfToken}}</th>
            </tr>
        </thead>
        <tbody>
            
            {{#each vendors}}
            <tr>
        
                <td><a href="/vendors/{{code}}">{{code}}</a></td>
                <td><a href="/vendors/{{code}}">{{name}}</a></td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <div class="bo-edit-row">
                        <a href="/vendors/{{code}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/vendors/remove/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<p>You have not created any vendors</p>
{{/if}}

<div class="fixed-action-btn">
    <a href="/vendors/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
</div>