
<%- include('../layouts/header') %>

<%if (basesiteList) { %>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title float-right">
                <a href="/basesite/add" class="btn-floating btn btn-primary btn-sm">
                    <i class="fas fa-plus"></i> Add new basesite
                </a>
                

            </h5>
            <%if(locals.errorMessage) { %>
                    <div class="alert alert-success" role="alert">
                        <%=errorMessage%>
                        </div>
                <% } %> 
            <table class="table table-hover" id="example_">
                <thead>
                    <tr>
                        <th scope="col">Code</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Product Catalog</th>
                        <th scope="col">Content Catalog</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="text-right">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <% basesiteList.forEach(basesiteList => { %> 
                        <tr>
                            <td><span class="dash-status"></span><%=basesiteList.code%><span></td>
                            <td><span class="dash-status"></span><%=basesiteList.name%></span></td>
                            <td><span class="dash-status"></span><%=basesiteList.description%></span></td>
                            <td><span class="dash-status"></span><%=basesiteList.productCatalog%></span></td>
                            <td><span class="dash-status"></span><%=basesiteList.contentCatalog%></span></td>
                            <td><span class="dash-status"></span><%=basesiteList.status%></span></td>
                            <td>
                                <div class="bo-edit-row">
                                    <a href="/basesite/<%=basesiteList.code%>" class="btn btn-float">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <form action="/basesite/remove/<%=basesiteList._id%>" method="POST" id="delete-form">
                                        <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                                        <button type="submit" class="btn red">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
        <%} else{ %>
            <p>Not found</p>
            <% } %>
    </div>
    </div>
 