<%- include('../layouts/header') %>
<%if (basesiteList) { %>

<div class="bo-fixed-action-btn">
    <a href="/basesite/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Product Catalog</th>
                <th>Content Catalog</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <tbody>
            <% basesiteList.forEach(basesiteList => { %> 
                <tr>
                <td><a href="/basesite/<%=basesiteList.code%>"><%=basesiteList.code%></a></td>
                <td><a href="/basesite/<%=basesiteList.code%>"><%=basesiteList.name%></a></td>
                <td><span class="dash-status"><%=basesiteList.description%></span></td>
                <td><span class="dash-status"><%=basesiteList.productCatalog%></span></td>
                <td><span class="dash-status"><%=basesiteList.contentCatalog%></span></td>
                <td><span class="dash-status"><%=basesiteList.status%></span></td>
                <td>
                    <div class="bo-edit-row">
                        <a href="/basesite/<%=basesiteList.code%>" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/basesite/remove/<%=basesiteList._id%>" method="POST" id="delete-form">
                            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            <% }) %>        
        </tbody>
    </table>
</div>
<%} else{ %>
    <p>You have not created any usergroup</p>
    <% } %>
    <%- include('../layouts/footer') %>


