<%- include('../layouts/header') %>
    <div class="card">
        <div class="card-body col-lg-6">
            <h5 class="card-title">Add Left Sub Navigation Module</h5>

            <!-- Vertical Form -->
            <form action="/subnavigation/add" method="POST" class="row g-3 needs-validation">
                <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                <div class="col-12 mg-3">
                    <label for="exampleFormControlSelect1" class="form-label">Module</label>
                    <select class="form-control" id="parentModule" name="parentModule" required>
                    <%if (activeModuleList) { %>
                        <option value="">--Select--</option>
                        <% activeModuleList.forEach(navigationListIrr=> { %>
                            <option value="<%=navigationListIrr.code%>"><%=navigationListIrr.name%></option>
                        <% }) %>
                     <%}%>
                    </select>
                  </div>
                <div class="col-12 mg-3">
                    <label for="inputNanme4" class="form-label">Code</label>
                    <input type="text" class="form-control" id="code" name="code" required>
                    <div class="invalid-feedback">Please provide a Code.</div>
                </div>
                <div class="col-12 mg-3">
                    <label for="inputEmail4" class="form-label">Name</label>
                    <input type="text" id="name" name="name" class="form-control" required>
                    <div class="invalid-feedback">Please provide a Name.</div>
                </div>
                <div class="col-12 mg-3">
                    <label for="inputPassword4" class="form-label">landing Url</label>
                    <input type="text" id="landingUrl" name="landingUrl" class="form-control" required>
                </div>
                <div class="col-12 mg-3">
                    <label for="inputAddress" class="form-label">Class Name</label>
                    <input type="text" id="cssclassname" name="cssclassname" class="form-control" required>
                    <div class="invalid-feedback">Please provide a Class Name.</div>
                </div>
                <div class="col-12 mg-3">
                    <label for="inputAddress" class="form-label">Position</label>
                    <input type="number" id="position" name="position" class="form-control" required>
                    <div class="invalid-feedback">Please provide a Position.</div>
                </div>
                <div class="text-center mg-3 col-12 mg-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <!-- <input type="submit" value="Save" class="btn"> -->
                    <a href="/dashboard" class="btn orange"><button type="reset"
                            class="btn btn-secondary">Cancel</button></a>
                </div>
            </form><!-- Vertical Form -->
        </div>
    </div>
    <%- include('../layouts/footer') %>