<%- include('../layouts/header') %>
<% if(countryList) { %>
<div class="card">
  <div class="card-body">
    <h5 class="card-title float-right">
      <a href="/country/add" class="btn-floating btn btn-primary btn-sm">
        <i class="fas fa-plus"></i> Add new Country
      </a>
    </h5>
    <table class="table table-hover" id="example">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Status</th>
          <th class="text-right">Action</th>
        </tr>
      </thead>
      <tbody>
        <% countryList.forEach(countryList=> { %>
        <tr>
          <td><%=countryList.isocode%></td>
          <td><%=countryList.name%></td>
          <!-- <td><%= countryList.creationdate %></td> -->
          <td><span class="dash-status">
              <% if(countryList.active) { %>
              Active
              <% }else{ %>
              Inactive
              <% } %>
            </span></td>
          <td>
            <div class="bo-edit-row">
              <a href="/country/<%=countryList.isocode%>" class="btn btn-float">
                <i class="fas fa-edit"></i>
              </a>
              <form action="/country/remove/<%=countryList._id%>" method="POST" id="delete-form">
                <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="btn red">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  <%} else{ %>
  <p>You have not created any Country</p>
  <% } %>
</div>
<%- include('../layouts/footer') %>