{{#if oauthclientList}}
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Client Id</th>
                <th>Secret Key</th>
                <th>Scope</th>
                <th>Authrity</th>
                <th>Status</th>
                
            </tr>
        </thead>
        <tbody>
            {{#each oauthclientList}}
            <tr>
                <td><a href="/oauthclient/{{clientId}}">{{clientId}}</a></td>
                <td><a href="/oauthclient/{{clientId}}">{{clientSecret}}</a></td>
                <td><span class="dash-status">{{scope}}</span></td>
                <td><span class="dash-status">{{authorities}}</span></td>
                <td><span class="dash-status">{{status}}</span></td>
                <td>
                    <div class="bo-edit-row">
                        <a href="/oauthclient/{{clientId}}" class="btn btn-float">
                            <i class="fas fa-edit"></i>
                        </a>

                        <form action="/oauthclient/remove/{{_id}}" method="POST" id="delete-form">
                            <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<p>You have not created any Auth Client</p>
{{/if}}

<div class="fixed-action-btn">
    <a href="/oauthclient/add" class="btn-floating btn-large waves-effect waves-light red"><i class="fas fa-plus"></i></a>
</div>